@import "../../styles/_config";

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100vw;
	height: 10vh;
	background: $bg-light;

	.title {
		display: flex;
		font-size: 5vh;
		margin-left: 1vw;
		color: #fff;
		font-weight: 200;
	}

	.btn {
		font-size: 1.2rem;
		font-weight: 200;
		padding: 0.2em 1em;
		border: 2px solid #fff;
		cursor: pointer;
		color: #fff;
		font-weight: 600;
		background: transparent;
		transition: all 0.2s ease-in-out;

		margin-left: 3%;

		&:hover {
			background: #fff;
			color: #08080b;
		}
	}

	.user {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		padding: 0.2em 1em;
		color: #fff;
		font-weight: 600;

		.img {
			border-radius: 50%;
			margin-left: 5rem;
		}

		.username {
			margin-left: 1rem;
		}

		margin-right: -2rem;
	}
}
