@import "../../styles/_config";

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	width: 100vw;
	height: 10vh;

	background: $bg-light;

	.title {
		font-size: 5vh;
		margin-left: 1vw;
		color: #fff;
		font-weight: 200;
	}

	.btn {
		font-size: 1.2rem;
		font-weight: 200;
		padding: 0.2em 1em;
		border: 2px solid #fff;
		cursor: pointer;
		color: #fff;
		font-weight: 600;
		background: transparent;
		transition: all 0.2s ease-in-out;

		margin-left: 3%;

		&:hover {
			background: #fff;
			color: #08080b;
		}
	}
}
